apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ item.name }}"
  namespace: openshift-operators
spec:
  channel: "{{ item.channel }}"
  name: "{{ item.name }}"
  installPlanApproval: Automatic
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace