apiVersion: integration.ibm.com/v1beta1
kind: PlatformNavigator
metadata:
    name: integration-navigator
    namespace: {{ns}}
spec:
  license:
    accept: true
    license: L-RJON-C7QG3S
  mqDashboard: true
  replicas: 1
  storage:
    class: {{sc}}
  version: 2021.4.1
  requestIbmServices:
        monitoring: true
        licensing: true